@import "tailwindcss";

/* ล้างค่าเริ่มต้นของ Vite ที่ทำให้ติดซ้าย */
:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}